* {margin:0;padding:0;} 

a {
    color: rgb(203,73,110);
    font-weight: bold;
}

a:hover, a:focus {
    color: rgb(223,93,130);
}

body {
    padding-top: 5%;
    padding-bottom: 5%;
    color: rgb(239,255,205);
    background: rgb(85,81,82);
}

/* Opera fix */
body:before {
    content:"";
    height:100%;
    float:left;
    width:0;
    margin-top:-32767px;
}

html {
    height: 100%;
    background: rgb(85,81,82);
}

span {
    display: block;
    padding: 8px;
}

#content {
    padding-top: 4%;
    overflow:auto;
    padding-bottom: 38px;
    padding-left: 3%;
    padding-right: 3%;
}

#footer {
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 0;
    position: relative;
    margin-top: -38px;
    height: 38px;
    clear:both;
    float: none;
    margin-left: auto;
    margin-right: auto;
    bottom: 0;
    left: 0;
    right: 0;
}

#header {
    padding-top: 3%;
    padding-left: 3%;
    padding-right: 3%;
}

#wrap {
    min-height: 100%;
}

.btn-pink {
    color: inherit;
    background: rgb(193,63,100) !important;
    text-shadow: 0 1px 1px rgba(153,23,60,0.75);
    border: rgb(193,63,100) 1px solid;
}

.btn-pink:hover, a.btn-pink:focus {
    color: rgb(209,215,175);
}

.codetype {
    padding: 0px 6px;
    margin-left: 6px;
}

.container {
    background: rgba(46,38,51,.5);
    border: rgb(220,233,190) 3px solid;
    border-radius: 15px;
    float: none;
}

.desc {
    width: 60%;
}

.hire {
    padding-top: 1%;
    padding-right: 11%;
}

.inline {
    display: inline !important;
}

.nav {
    margin: 0;
}

.navbar-pink {
    min-height: 40px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: rgb(193,63,100);
    background-image: -moz-linear-gradient(top, rgb(199,69,106), rgb(185,55,92));
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgb(199,69,106)), to(rgb(185,55,92)));
    background-image: -webkit-linear-gradient(top, rgb(199,69,106), rgb(185,55,92));
    background-image: -o-linear-gradient(top, rgb(199,69,106), rgb(185,55,92));
    background-image: linear-gradient(to bottom, rgb(199,69,106), rgb(185,55,92));
    background-repeat: repeat-x;
    border: 1px solid #d4d4d4;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc7456a', endColorstr='#ffb9665c', GradientType=0);
    *zoom: 1;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
}

.navbar .nav > li.nav-fill > a {
    padding: 10px 92px 10px;
    border: rgb(193,63,100) 1px solid;
}

.nav > li.active > a {
    background-color: rgb(183,53,90) !important;
    text-shadow: -1px 2px 1px rgba(0,0,0,0.6) !important;
}

.nav > li > a {
    color: inherit !important;
    text-shadow: 0 1px 1px rgba(153,23,60,0.75) !important;
}

.project {
    border: rgb(220,233,190) 1px solid;
    border-radius: 5px;
    min-height: 150px;
    padding: 1%;
    background: linear-gradient(to right, rgba(64,59,66,1) 0%,rgba(64,59,66,1) 60%,rgba(64,59,66,0.95) 65%,rgba(64,59,66,0) 100%);
}

.project-image {
    background-repeat:no-repeat;
    background-position: right top; 
}

.project-shell {
    padding-bottom: 15px;
}

.title {
    font-size: 20px;
}